:root {
    --first-color: #963be7;
    --second-color: #3b0962;
    --terciary-color: #fd2c9a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 98vw;
    height: auto;
    display: flex;
}
@media (max-width: 768px) {
    header > .navbar-profile > ul {
        font-size: 1.5rem;
    }
    footer > #bx:hover {
        font-size: 1.5rem;
        border-radius: none ;
        text-shadow: none ;
    }
    header > .navbar-profile > ul > li > a:hover {
        font-size: 1.5rem;
    }
}

@media (max-width: 628px) {
    main > button {
        width: 7rem;
        height: 2rem;
        border-radius: 10%;
        right: 1%;
        top: 5%;
    }
}
@media (max-width: 430px) {
    header > .navbar-profile > ul {
        font-size: 1rem;
    }
    header > .navbar-profile > ul > li > a:hover {
        font-size: 1rem;
    }
}